@import url("reset.css");

html {
  box-sizing:  border-box;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

*, *:before, *:after {
  box-sizing:  inherit;
  margin: 0px;
	padding: 0px;
}

.nav-list {
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border: 5px solid blue;
	width: 100%;
	margin: auto;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
.nav-list>li {
	text-align: center;
  border: 5px solid aqua;
  flex: 1 1 5%;
  display: flex;
}
.nav-list>li>a {
	text-decoration: none;
	white-space: nowrap;
	padding: 5px;
	border: 5px solid yellow;

	flex: 1 1 auto;
}
.nav-list>li>a:hover {
	background-color: rgba(0,0,255, .5);
}